<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet style.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <h1>Todo App</h1>
    <form action="/submit" method="post" id="todoForm">
        <input type="hidden" id="todoId" name="todoId">
        <input type="text" id="todoInput" name="todo" placeholder="Add Todo..">
        <button type="submit" class="btn btn-success">Add</button>
    </form>

    <ul>
        {{#each todoContent}}
        <div style="width:40%; display: flex; margin-top: 5px; justify-content: space-between;">
            <li style="margin-right:100px;">{{todo}}</li>
            <div style="display: flex;">
                <button style="margin: 0px 10px;" class="btn btn-primary" onclick="editTodo('{{_id}}', '{{todo}}')">
                    Edit
                </button>
                <button type="button" class="btn btn-danger">
                    <a href="delete-todo?id={{_id}}" style="text-decoration: none; color: white;">Delete</a>
                </button>
            </div>
        </div>
        {{/each}}
    </ul>
    <script src="javascripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>